*{
	box-sizing: border-box;
}

h1{
	margin: 0px;
}
p{
	margin: 0px;
}
body{
	margin: 0;
	padding-top: 65px;
}

nav{
	position: absolute;
	width: 100%;
	background-color: yellow;
	top:0;
}

form{
	text-align: end;
}

footer{
	background-color:PaleVioletRed;
}

.center{
	text-align: center;
}

.card{
	display: inline-block;
	margin: 50px;
	padding: 0px 0px 100px 0px;
}

.card-group .card .card-header{

}

#cardContainer{
}

#slides{
	vertical-align: middle;
	padding-bottom: 500px;
}

#aboutMe{
	background-color: white;
	margin: 0px;
}
